* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.interface {
    max-width: 1200px;
    margin: 0 auto;
}

/* heder */

header {
    width: 100vw;
    padding: 10px 190px;
    background: #222;
    height: 70px
    
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .logo img {
    max-width: 50px;
    border-radius: 50%;
}

.menu-desktop nav ul li{
    display: inline-block;
    margin: 0 20px;
}

.menu-desktop nav ul a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
}

.menu-desktop nav ul a:hover {
    transform: scale(1.15);
    color: #FFA500;
    font-weight: 500;
}

.menu-desktop nav ul a:active {
    transform: scale(0.9);
}

header .bnt button{
    display: inline-block;
    width: 140px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 25px;
}

header .bnt button:hover {
    transform: scale(1.05);
    background-color: #fff;
    color: #000;
    font-weight: 500;
}

header .bnt button:active {
    transform: scale(0.9);
}

/* heder */

.linha-laranja-header {
    background: #FFA500;
    width: 100vw;
    height: 10px;
}

/* home */

section.home {
    background: url(img/img-home.jpg);
    height: 86vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.home .interface {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.home h1 {
    color: #fff;
    font-size: 4em;
    line-height: 70px;
    width: 14.5em;
    text-align: center;
    font-weight: 900;
}

main .home span {
    color: #FFA500;
}   

/* home */

.linha-preta {
    background: #FFA500;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
}

.linha-laranja {
    background: #000;
    width: 100vw;
    height: 20px;
}

/* sobre */

.sobre {
    color: #fff; 
    width: 100vw;
    height: 90vh;
    background: #222;
    padding: 60px 10%;
}

.sobre h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 80px;
}

.sobre h2 span {
    color: #FFA500;
    margin: 0 auto;
}    

.sobre .main-sobre {
    display: flex;
    align-items: center;
    gap: 15%;
}

.sobre .texto-sobre {
    max-width: 40%;
    font-size: 1.1em;
}

.sobre img {
    max-width: 450px;
}

/* sobre */
