* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.interface {
    max-width: 1200px;
    margin: 0 auto;
}

/* heder */

header {
    width: 100vw;
    padding: 10px 190px;
    background: #222;
    height: 70px
    
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .logo img {
    max-width: 50px;
    border-radius: 50%;
}

.menu-desktop nav ul li{
    display: inline-block;
    margin: 0 20px;
}

.menu-desktop nav ul a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
}

.menu-desktop nav ul a:hover {
    transform: scale(1.15);
    color: #FFA500;
    font-weight: 500;
}

.menu-desktop nav ul a:active {
    transform: scale(0.9);
}

header .bnt button{
    display: inline-block;
    width: 140px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 25px;
}

header .bnt button:hover {
    transform: scale(1.05);
    background-color: #fff;
    color: #000;
    font-weight: 500;
}

header .bnt button:active {
    transform: scale(0.5);
}

/* heder */

.linha-laranja-header {
    background: #FFA500;
    width: 100vw;
    height: 10px;
}

/* home */

section.home {
    background: url(img/img-home.jpg);
    height: 86vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.home .interface {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.home h1 {
    color: #fff;
    font-size: 4em;
    line-height: 70px;
    width: 14.5em;
    text-align: center;
    font-weight: 900;
}

main .home span {
    color: #FFA500;
}   

/* home */

/* sobre */

.sobre {
    display: block;
    color: #fff; 
    width: 100vw;
    height: 99vh;
    background: #222;
    padding: 3% 6% 5%;
}

.sobre h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 8%;
}

.sobre h2 span {
    color: #FFA500;
    margin: 0 auto;
}    

.sobre .main-sobre {
    display: flex;
    align-items: center;
    gap: 10%;
}

.sobre .texto-sobre {
    max-width: 50%;
    font-size: 125%;
}

.sobre img {
    max-width: 50%;
    border-radius: 20px;
}

/* galeria */

.sobre-galeria {
    height: 92vh;
    background: #FFA500;
    color: #333;
    padding: 3% 0;
}

.sobre-galeria h2 {
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.sobre-galeria h2 span {
    color: #fff;
    margin: 0 auto;
}

.sobre-galeria-img  {
    width: 100vw;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    gap: 18%;
}

.sobre-galeria-img img {  
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}

/* galeria */

/* sobre */

/* serviços */

.serviços .title h2 {
    background: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    padding: 2% 2% 8%;
}

.serviços .title h2 span {
    color: #ffa500;
    margin: 0 auto;
}

.area-serviços {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    background-color: #333;
    height: 35vh;
    position: relative;
    color: #fff;
}

.serviços .img-benefit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviços .text-serviços {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serviços .img-benefit img {
    width: 100px;
    margin-bottom: 2em; 
}

/* serviços */

/* local */

.local {
    height: 75vh;
    background: #222;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.local h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    padding: 2%;
    width: 100vw;
}

.local h2 span {
    color: #ffa500;
    margin: 0 auto;
}

.local iframe {
    width: 50%;
    height: 70%;
}

/* local */




/* roda pé */

.Contatos {
    display: grid;
    grid-template-columns: 50% 50%;
    color: #fff;
    height: 30vh;
    background: #000;
    padding: 2% 5%;
}

.Contatos p {
    font-size: 150%;
}

.img-contatos img {
    border-radius: 50%;
    width: 10%;
    margin: 0 10px;
}

.Contatos .bnt button{
    display: inline-block;
    width: 250px;
    height: 60px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 25px;
    margin-left: 100px;
}

.Contatos .bnt button:hover {
    transform: scale(1.05);
    background-color: #fff;
    color: #000;
    font-weight: 500;
}

.Contatos .bnt button:active {
    transform: scale(0.5);
}

/* roda pé */